.center-div {
  height: 80vh;
  background: #ffd600;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting {
  text-align: left;
  font-family: karla;
  font-weight: bold;
  font-size: 144px;
  line-height: 122px;
  letter-spacing: -0.10em;
  color: #000000;
}

.center-bar {
  width: 340px;
  height: 6px;
  background: #000000;
}

.bottom-div {
  text-align: left;
  font-family: karla;
  font-weight: bold;
  font-size: 24px;
  line-height: 114.9%;
  letter-spacing: -0.10em;
  color: #000000;
}