/* Intro page */
.body {
    height: 100vh;
    background: #ffd600;
}

.intro-message {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerIntro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-family: karla;
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    letter-spacing: -0.10em;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-width: 20px;
    color: #000000;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.inputBox {
    text-align: center;
    font-family: karla;
    letter-spacing: -0.11em;
    width: 300px;
    font-size: 70px;
    background: black;
    color: #ffd600;
}

.centerQuestion {
    margin-top: -50px;
    margin-bottom: -50px;
    font-size: 60px;
    letter-spacing: -0.11em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
